logs
node_modules
coverage
.env
.env.development
seeder.js
.VSCodeCounter
static/images/catalogs
static/images/catalogs/*
static/images/storeitems
static/images/storeitems/*
static/images/avatars
static/images/avatars/*