logs
node_modules
coverage
.env
.env.development
startup/seeder
static/images/catalogs
static/images/catalogs/*
static/images/storeitems
static/images/storeitems/*
static/images/avatars
static/images/avatars/*